script/lg_resu_dashboard.json
[
    {
        "id": "6be22e53.6fa47",
        "type": "debug",
        "z": "aa19858.1d1a578",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 826,
        "y": 270,
        "wires": []
    },
    {
        "id": "821c657b.ef24d8",
        "type": "http request",
        "z": "aa19858.1d1a578",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "url": "192.168.29.30:9090",
        "tls": "",
        "x": 389,
        "y": 309,
        "wires": [
            [
                "68470fa5.bc992"
            ]
        ]
    },
    {
        "id": "a36b23fb.9ab9f",
        "type": "inject",
        "z": "aa19858.1d1a578",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 185,
        "y": 310,
        "wires": [
            [
                "821c657b.ef24d8"
            ]
        ]
    },
    {
        "id": "68470fa5.bc992",
        "type": "json",
        "z": "aa19858.1d1a578",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 581.5,
        "y": 310,
        "wires": [
            [
                "dee10475.590ae8",
                "1e75ddc9.1ba91a",
                "5194268d.36ed7",
                "6be22e53.6fa47",
                "40da6075.ae32f8",
                "2d30d57c.de95b2"
            ]
        ]
    },
    {
        "id": "cf2be970.eddda",
        "type": "ui_gauge",
        "z": "aa19858.1d1a578",
        "name": "",
        "group": "5ac68277.60961c",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "SOC",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1066.5,
        "y": 479,
        "wires": []
    },
    {
        "id": "dee10475.590ae8",
        "type": "change",
        "z": "aa19858.1d1a578",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "msg.payload.soh",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 764.5,
        "y": 554,
        "wires": [
            [
                "bdae0237.2f712"
            ]
        ]
    },
    {
        "id": "bdae0237.2f712",
        "type": "ui_text",
        "z": "aa19858.1d1a578",
        "group": "5ac68277.60961c",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "SOH",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1066.5,
        "y": 554,
        "wires": []
    },
    {
        "id": "db662a60.33c77",
        "type": "ui_text",
        "z": "aa19858.1d1a578",
        "group": "5ac68277.60961c",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Voltage",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1077.5,
        "y": 619,
        "wires": []
    },
    {
        "id": "1e75ddc9.1ba91a",
        "type": "change",
        "z": "aa19858.1d1a578",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.soc",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 799.5,
        "y": 478,
        "wires": [
            [
                "cf2be970.eddda"
            ]
        ]
    },
    {
        "id": "5194268d.36ed7",
        "type": "change",
        "z": "aa19858.1d1a578",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.voltage",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 701.5,
        "y": 617,
        "wires": [
            [
                "db662a60.33c77"
            ]
        ]
    },
    {
        "id": "40da6075.ae32f8",
        "type": "change",
        "z": "aa19858.1d1a578",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.current",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 666.5,
        "y": 700,
        "wires": [
            [
                "85fc510d.2c9438"
            ]
        ]
    },
    {
        "id": "85fc510d.2c9438",
        "type": "ui_text",
        "z": "aa19858.1d1a578",
        "group": "5ac68277.60961c",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Current",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1079.5,
        "y": 698,
        "wires": []
    },
    {
        "id": "2d30d57c.de95b2",
        "type": "change",
        "z": "aa19858.1d1a578",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.temp",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 631.5,
        "y": 777,
        "wires": [
            [
                "c0226e62.b94218"
            ]
        ]
    },
    {
        "id": "c0226e62.b94218",
        "type": "ui_text",
        "z": "aa19858.1d1a578",
        "group": "5ac68277.60961c",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Temp",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1073.5,
        "y": 773,
        "wires": []
    },
    {
        "id": "b84ab397.5a3ed",
        "type": "ui_button",
        "z": "aa19858.1d1a578",
        "name": "",
        "group": "5ac68277.60961c",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "refresh",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "date",
        "topic": "",
        "x": 180.5,
        "y": 446,
        "wires": [
            [
                "821c657b.ef24d8"
            ]
        ]
    },
    {
        "id": "5ac68277.60961c",
        "type": "ui_group",
        "z": "",
        "name": "Dashboard",
        "tab": "c48c9c54.3262",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "c48c9c54.3262",
        "type": "ui_tab",
        "z": "",
        "name": "LG Resu Monitor",
        "icon": "dashboard"
    }
]
