script/lg_resu_dashboard.json
[
    {
        "id": "199b594a.56b447",
        "type": "debug",
        "z": "1140ba0.991d8c6",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 777.6428833007812,
        "y": 231.14285278320312,
        "wires": []
    },
    {
        "id": "6e7ea4dd.72241c",
        "type": "http request",
        "z": "1140ba0.991d8c6",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "url": "192.168.29.30:9090",
        "tls": "",
        "x": 340.64288330078125,
        "y": 270.1428527832031,
        "wires": [
            [
                "e0ba7308.8aef1"
            ]
        ]
    },
    {
        "id": "b8d87640.6e4c28",
        "type": "inject",
        "z": "1140ba0.991d8c6",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "300",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 146.64288330078125,
        "y": 271.1428527832031,
        "wires": [
            [
                "6e7ea4dd.72241c"
            ]
        ]
    },
    {
        "id": "e0ba7308.8aef1",
        "type": "json",
        "z": "1140ba0.991d8c6",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 533.1428833007812,
        "y": 271.1428527832031,
        "wires": [
            [
                "f5b2bf92.0c75d",
                "12737983.bab48e",
                "199b594a.56b447",
                "5645cc7b.db558c",
                "69a04ae5.bb4ea4",
                "f32c872d.3f2c9"
            ]
        ]
    },
    {
        "id": "4a0ac3f7.4642c4",
        "type": "ui_gauge",
        "z": "1140ba0.991d8c6",
        "name": "",
        "group": "14d778f.1663a87",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "SOC",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1030.1428833007812,
        "y": 411.1428527832031,
        "wires": []
    },
    {
        "id": "a72b6988.ec8368",
        "type": "ui_text",
        "z": "1140ba0.991d8c6",
        "group": "14d778f.1663a87",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Voltage",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1029.1428833007812,
        "y": 580.1428527832031,
        "wires": []
    },
    {
        "id": "f5b2bf92.0c75d",
        "type": "change",
        "z": "1140ba0.991d8c6",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.soc",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760.1428833007812,
        "y": 411.1428527832031,
        "wires": [
            [
                "4a0ac3f7.4642c4"
            ]
        ]
    },
    {
        "id": "12737983.bab48e",
        "type": "change",
        "z": "1140ba0.991d8c6",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.voltage",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 653.1428833007812,
        "y": 578.1428527832031,
        "wires": [
            [
                "a72b6988.ec8368"
            ]
        ]
    },
    {
        "id": "5645cc7b.db558c",
        "type": "change",
        "z": "1140ba0.991d8c6",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.current",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 618.1428833007812,
        "y": 661.1428527832031,
        "wires": [
            [
                "84a1f844.86821"
            ]
        ]
    },
    {
        "id": "84a1f844.86821",
        "type": "ui_text",
        "z": "1140ba0.991d8c6",
        "group": "14d778f.1663a87",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Current",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1031.1428833007812,
        "y": 659.1428527832031,
        "wires": []
    },
    {
        "id": "69a04ae5.bb4ea4",
        "type": "change",
        "z": "1140ba0.991d8c6",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.temp",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 583.1428833007812,
        "y": 738.1428527832031,
        "wires": [
            [
                "c137a54e.0397b"
            ]
        ]
    },
    {
        "id": "c137a54e.0397b",
        "type": "ui_text",
        "z": "1140ba0.991d8c6",
        "group": "14d778f.1663a87",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Temp",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1025.1428833007812,
        "y": 734.1428527832031,
        "wires": []
    },
    {
        "id": "e6b6add3.60886",
        "type": "ui_chart",
        "z": "1140ba0.991d8c6",
        "name": "",
        "group": "14d778f.1663a87",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 1029.5,
        "y": 464,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "f32c872d.3f2c9",
        "type": "change",
        "z": "1140ba0.991d8c6",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.soc",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 755,
        "y": 465,
        "wires": [
            [
                "e6b6add3.60886"
            ]
        ]
    },
    {
        "id": "14d778f.1663a87",
        "type": "ui_group",
        "z": "",
        "name": "Dashboard",
        "tab": "f34576ca.de4738",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "f34576ca.de4738",
        "type": "ui_tab",
        "z": "",
        "name": "LG Resu Monitor",
        "icon": "dashboard"
    }
]
